html {
  font-family: Georgia, serif;
}

.banner-wrapper {
  background-color: #495562;
  color: #fff;
}

.btn-ghost {
  border-color: #97a49b;
  color: #fff;
}

.btn-ghost:hover {
  background-color: #fff;
  border-color: #fff;
  color: #495562;
}

@media only screen and (min-width: 38em) {

  .link {
    text-align: right;
  }

}

@media only screen and (min-width: 60em) {

  .btn-ghost {
    border-color: #fff;
    color: #efefef;
  }

  .banner-content {
    background-image: linear-gradient(to bottom, rgba(73, 85, 98, 0), rgba(73, 85, 98, .9));
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .banner-wrapper {
    overflow: hidden;
    max-height: 500px;
    position: relative;
  }

}
