html {
  font-family: Georgia, serif;
}

.banner-wrapper {
  background-color: #495562;
  color: #fff;
}

.btn-ghost {
  border-color: #fff;
  color: #fff;
}

.btn-ghost:hover {
  background-color: #fff;
  border-color: #fff;
  color: #495562;
}
